@* DUYURULAR KISMI *@
@using EntityLayer.Concrete
@model List<Announcement>
<div class="blog" id="blog">
  <div class="container">
    <h3 class="tittle">Son Duyurular</h3>
    <p class="heading-btm-w3ls">Çiftliklerimiz ve Tarlalarımızdan son haberler.</p>
    <div class="blog-grid-w3-agileits">
      <div class=" col-md-7 blog-img1-agileits-w3layouts">
        <a href="#" data-toggle="modal" data-target="#myModal2"></a>
      </div>
      <div class=" col-md-5 blog-info-w3layouts">
        <h6> <a href="#" data-toggle="modal" data-target="#myModal2">TARIMDA VERİMLİKİK ARTIŞI</a></h6>
        <div class="inner-info">
          <a href="#" class="blog-text-w3ls bar">.</a><span>16/11/2024</span>
          <p class="para-w3-agileits">Modern tekniklerle tarımda daha fazla ürün ve verim elde etmek için uygulanan gelişmiş yöntemler ve stratejiler.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="blog-grid-w3-agileits">
      <div class=" col-md-5 blog-info-w3layouts blog-mid">
        <h6><a href="#" data-toggle="modal" data-target="#myModal3">TARIMDA YENİLİKCİ GELİŞİM</a></h6>
        <div class="inner-info-mid">
          <a href="#" class="blog-text-w3ls mid-bar"></a><span>12/10/2024</span>
          <p class="para-w3-agileits">Tarım endüstrisinde ilerlemeyi sürdürmek için modern tekniklerin ve yenilikçi yöntemlerin sürekli olarak uygulanması..</p>
        </div>
        <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">İncele</a>

      </div>
      <div class=" col-md-7 blog-img2-agileits-w3layouts">
        <a href="#" data-toggle="modal" data-target="#myModal3"></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="blog-grid-w3-agileits">
      <div class=" col-md-7 blog-img3-agileits-w3layouts">
        <a href="#" data-toggle="modal" data-target="#myModal4"></a>
      </div>
      <div class=" col-md-5 blog-info-w3layouts">
        <h6><a href="#" data-toggle="modal" data-target="#myModal4"> TARIM SEKTÖRÜNDEKİ İLK ADIMLARIMIZ</a></h6>
        <div class="inner-info">
          <a href="#" class="blog-text-w3ls bar">Lorem ipsum.</a><span>06/8/2024</span>
          <p class="para-w3-agileits">Tarım sektöründe yerimizi sağlamlaştırmak ve başarılı bir oyuncu olabilmek için attığımız ilk adımlar, sektördeki yenilikçi stratejilerimiz ve güçlü iş ortaklıklarımızla desteklenmektedir. Pazarın dinamiklerini anlayarak, sürdürülebilir ve verimli çözümler sunmayı hedefliyoruz. Gelecekteki hedeflerimiz, tarımda ileri teknolojileri ve modern yöntemleri entegre ederek sektördeki liderliğimizi pekiştirmek olacak..</p>
        </div>
        <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">İncele</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img src="~/web/images/b1.jpg" alt=" " class="img-responsive">
      </div>
    </div>
  </div>
</div>
<!-- //Modal2 -->
<!-- Modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img src="~/web/images/b2.jpg" alt=" " class="img-responsive">
      </div>
    </div>
  </div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img src="~/web/images/b3.jpg" alt=" " class="img-responsive">
      </div>
    </div>
  </div>
</div>
<!-- //Modal4 -->