@model EntityLayer.Concrete.Address
@{
  ViewData["Title"] = "UpdateAddress";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Adres Güncelleme</h4>
      <form class="forms-sample" method="post">
        <div class="form-group">
          @Html.HiddenFor(x => x.AddressID)
          <label for="exampleInputName1">Açıklama 1</label>
          <input type="text" class="form-control" placeholder="Açıklama 1" asp-for="Description1">
          <span asp-validation-for="Description1" class="text-danger"></span>

          <br />
          <label for="exampleInputName1">Açıklama 2 </label>
          <input type="text" class="form-control" placeholder="Açıklama 2" asp-for="Description2">
          <span asp-validation-for="Description2" class="text-danger"></span>
          <br />
          <label for="exampleInputName1">Açıklama 3</label>
          <input type="text" class="form-control" placeholder="Açıklama 3" asp-for="Description3">
          <span asp-validation-for="Description1" class="text-danger"></span>
          <br />
          <label for="exampleInputName1">Açıklama 3</label>
          <input type="text" class="form-control" placeholder="Açıklama 3" asp-for="Description3">
          <span asp-validation-for="Description3" class="text-danger"></span>
          <br />
          <label for="exampleInputName1">Açıklama 4</label>
          <input type="text" class="form-control" placeholder="Açıklama 4" asp-for="Description4">
          <span asp-validation-for="Description4" class="text-danger"></span>

          <br />
          <label for="exampleInputName1">Harita Konumu</label>
          <input type="text" class="form-control" placeholder="Harita Bilgisi" asp-for="Mapinfo">
          <span asp-validation-for="Mapinfo" class="text-danger"></span>

          <br />
          <button type="submit" class="btn btn-primary me-2">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>

