

<link rel="stylesheet" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/vendors/mdi/css/materialdesignicons.min.css" />
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul style="list-style-type:none;" class="">
    <li class="nav-item">
      <a class="nav-link" href="/Dashboard/Index">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">&nbsp;Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Service/Index">
        <i class="mdi mdi-circle-outline menu-icon"></i>
        <span class="menu-title">&nbsp;Hizmetlerimiz</span>
        <i class="menu-arrow"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Team/Index">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">&nbsp;Takım Arkadaşlarımız</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Chart/Index">
        <i class="mdi mdi-chart-pie menu-icon"></i>
        <span class="menu-title">&nbsp;Grafikler</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Announcement/Index">
        <i class="mdi mdi-emoticon menu-icon"></i>
        <span class="menu-title">&nbsp;Duyurular</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Contact/Index">
        <i class="mdi mdi-message menu-icon"></i>
        <span class="menu-title">&nbsp;Gelen Mesajlar</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Address/Index">
        <i class="mdi mdi-address menu-icon"></i>
        <span class="menu-title">&nbsp;Adres Bilgileri</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Image/Index">
        <i class="mdi mdi-image menu-icon"></i>
        <span class="menu-title">&nbsp;Görseller</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Report/Index">
        <i class="mdi mdi-file-document menu-icon"></i>
        <span class="menu-title">&nbsp;Raporlar</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Profile/Index">
        <i class="mdi mdi-emoticon menu-icon"></i>
        <span class="menu-title">&nbsp;Ayarlar</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Admin/Index">
        <i class="mdi mdi-key menu-icon"></i>
        <span class="menu-title">&nbsp;Admin İşlemleri</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Login/LogOut">
        <i class="mdi mdi-exit-run menu-icon"></i>
        <span class="menu-title">&nbsp;Çıkış Yap</span>
      </a>
    </li>

  </ul>
</nav>
<!-- partial -->
<!-- main-panel ends -->
<style>
  .nav-item .nav-link {
    color: #000; /* Yazı rengi */
  }

    .nav-item .nav-link {
      color: #000; /* İkon rengi */
    }

    .nav-item .nav-link:hover {
      background-color: #333333; /* Hover durumunda arka plan rengi */
      color: #FFD700; /* Hover durumunda yazı rengi */
    }

</style>